{% extends 'temp_base.html' %}
{% comment %} {% load pybo_filter %} {% endcomment %}
{% block content %}
<div class="container my-3">
<!------------------- ↓검색 기능↓ ---------------------->
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>

<!------------------- ↑검색 기능↑ ---------------------->
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>시장</th>
            <th>종목 번호</th>
            <th>종목 이름</th>
            <th>현재가</th>
        </tr>
        </thead>
        <tbody>
        {% if stock_list %}
        {% for stock in stock_list %}
        <tr>
            <td>{{ stock.market_name }}</td>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.stock_name }}</td>

                {% comment %} <a href="{% url 'exchange:stock_list' stock.symbol %}">{{ stock.stock_name }}</a> {% endcomment %}
            <td>{{ stock.cur_price }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">검색 요청에 맞는 종목이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
             
<!-- ------------------------------- [edit] -------------------------------- -->
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if stock_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ stock_list.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in stock_list.paginator.page_range %}
            {% if page_number >= stock_list.number|add:-5 and page_number <= stock_list.number|add:5 %}
            {% if page_number == stock_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if stock_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ stock_list.next_page_number }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
<!-- ----------------------------------------------------------------------- -->    
</div>
<!-- ------------------------------- form -------------------------------- -->
<form id="searchForm" method="get" action="{% url 'exchange:index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
<!-- ----------------------------------------------------------------------- -->

{% endblock %}

<!-- ------------------------------- 페이징과 검색을 처리하는 자바 스크립트 코드(검색 관련) -------------------------------- -->
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

});
</script>
{% endblock %}
<!-- ------------------------------- 페이징과 검색을 처리하는 자바 스크립트 코드(검색 관련) -------------------------------- -->
